In [1]:
import numpy as np
import pandas as pd

# Dealing with Missing Values (NAs)

In [2]:
#create sample data
df = pd.DataFrame([[1,np.nan,2],[2,3,5],[np.nan,4,6]]) #data has no values (NAs) in some cells
#we need to remove NA or NaN from the data frame

In [3]:
print(df)

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [4]:
## check if the data frames contains NA
df.isnull()

       0      1      2
0  False   True  False
1  False  False  False
2   True  False  False

In [6]:
## Drop NA values
## all rows with cells containing NA will be dropped
df.dropna()
#axis = 0 by default

     0    1  2
1  2.0  3.0  5

In [7]:
## Drop columns where cells have NAs
 df.dropna(axis=1)

   2
0  2
1  5
2  6

In [12]:
df.dropna(axis=1,how="all")

# how='all' columns correspond the condition and then drop that columns

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [25]:
## thresh parameter lets you specify a minimum number of non-null values for the row/column to be kept
df.dropna(thresh=3)
#如果該行/列中"非"缺失值的數量"小於"3，就刪除該列/行 , 行/列依照axis設定而定

     0    1  2
1  2.0  3.0  5

## Filling no values (NA) cells

In [26]:
#fill NA entries with zero
df.fillna(0)

     0    1  2
0  1.0  0.0  2
1  2.0  3.0  5
2  0.0  4.0  6

In [31]:
#specify a forward-fill to propagate the previous value forward
df.fillna(method="ffill",axis=0)

#使用行/列的前一個值去填補
#第一行/列就出現nan的列無法往前填補

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  2.0  4.0  6

In [32]:
#fill forward column wise
df.fillna(method="ffill",axis=1)

     0    1    2
0  1.0  1.0  2.0
1  2.0  3.0  5.0
2  NaN  4.0  6.0

In [35]:
#back-fill to propagate the next values backward
df.fillna(method="bfill",axis=0)

     0    1  2
0  1.0  3.0  2
1  2.0  3.0  5
2  NaN  4.0  6

In [34]:
df.fillna(method="bfill",axis=1)

     0    1    2
0  1.0  2.0  2.0
1  2.0  3.0  5.0
2  4.0  4.0  6.0