In [25]:
import pandas as pd

In [26]:
d=pd.read_csv('titanic.csv')

In [27]:
d.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [28]:
d.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [29]:
from sklearn.preprocessing import Imputer
from sklearn.pipeline import Pipeline

## Fill in the most common string values

### Identify the most common Cabin type

In [30]:
d['Cabin'].value_counts().index

#type : Pandas Series -> Index List

Index(['C23 C25 C27', 'B96 B98', 'G6', 'C22 C26', 'F2', 'D', 'F33', 'E101',
       'C125', 'C124',
       ...
       'A34', 'E17', 'D19', 'C30', 'A26', 'C110', 'B71', 'B94', 'D46', 'C99'],
      dtype='object', length=147)

In [31]:
d['Cabin'].value_counts().index[0]  # most common category of Cabins

'C23 C25 C27'

### Fill in

In [34]:
d['Cabin'].fillna(d['Cabin'].value_counts().index[0])

0      C23 C25 C27
1              C85
2      C23 C25 C27
3             C123
4      C23 C25 C27
5      C23 C25 C27
6              E46
7      C23 C25 C27
8      C23 C25 C27
9      C23 C25 C27
10              G6
11            C103
12     C23 C25 C27
13     C23 C25 C27
14     C23 C25 C27
15     C23 C25 C27
16     C23 C25 C27
17     C23 C25 C27
18     C23 C25 C27
19     C23 C25 C27
20     C23 C25 C27
21             D56
22     C23 C25 C27
23              A6
24     C23 C25 C27
25     C23 C25 C27
26     C23 C25 C27
27     C23 C25 C27
28     C23 C25 C27
29     C23 C25 C27
          ...
861    C23 C25 C27
862            D17
863    C23 C25 C27
864    C23 C25 C27
865    C23 C25 C27
866    C23 C25 C27
867            A24
868    C23 C25 C27
869    C23 C25 C27
870    C23 C25 C27
871            D35
872    B51 B53 B55
873    C23 C25 C27
874    C23 C25 C27
875    C23 C25 C27
876    C23 C25 C27
877    C23 C25 C27
878    C23 C25 C27
879            C50
880    C23 C25 C27
881    C23 C25 C27
882    C23 C25 C27
883    C23 C25 C27
884    C23 C25 C27
885    C23 C25 C27
886    C23 C25 C27
887            B42
888    C23 C25 C27
889           C148
890    C23 C25 C27
Name: Cabin, Length: 891, dtype: object